discord==2.3.2
apscheduler==3.10.4
async-timeout==4.0.3
demoji==1.1.0
opencc-python-reimplemented==0.1.7
pillow==10.0.1
platformdirs==3.9.1
pytz==2023.3.post1
requests==2.31.0
urllib3==1.26.15
yarl==1.9.2
typing-extensions==4.8.0
matplotlib==3.7.4
python-dateutil==2.8.2
multidict==6.0.4
scipy==1.10.1
fonttools==4.43.0

