discord
apscheduler
async-timeout
demoji
opencc-python-reimplemented
pillow
platformdirs
pytz
requests
urllib3
yarl
typing-extensions
matplotlib
python-dateutil
multidict
scipy
fonttools
flask
threadpoolctl
